.first-blerb {
    position: fixed !important;
    top: 0;
    bottom: 0;
    background-color: #da7;
}
#extra-padding {
    padding-left: 3%;
    padding-right: 3%;
}
.nice-yellow {
    background-color: #ffe
}